:root {
  --background-colour: #e5e5e5;
  --primary-colour: #c32c72;
  --primary-colour-hover: #f54b8d;
  --primary-text-colour: #6a6a6a;
  --nav-colour: ##f4f3ee;
  --background-dark: rgba(0, 0, 0, 0.5);
}
